<!DOCTYPE html> 
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="This amazing website with help of Python script will help you to see what takes the most space on your computer">
    <meta name="keyword" content="space, save space, space analyzer, biggest files, biggest folders">
        
    <link rel="stylesheet" href="{{ url_for('static', filename="style.css")}}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    {% block content %}{% endblock content %} 
</body>
</html>